.navbar-light  {
    color: blue;
    font-size: 20px
}

.navbar-light .navbar-brand {
    color: blue;
    font-size: 25px
}
.navbar-light .navbar-nav .nav-link {
    color: blue;
    font-size: 20px
}

label {
    display: inline-block;
    margin-top: 0.5rem;
}

label {
    display: inline-block;
    font-size: 20px
}