.navbar-light  {
    color: #007bff;
    font-size: 20px
}

.navbar-light .navbar-brand {
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color:#007bff;
    font-size: 20px
}

label {
    display: inline-block;
    margin-top: 0.5rem;
}

label {
    display: inline-block;
    font-size: 20px
}

.card-deck {
    margin-left: 0;
    margin-right: 0;

}

.card-body .blog{
    padding: 25px;
    border-style: solid;
    border-color:lightgray;
    margin-bottom: 50px;
    border-width: 0.5px
}

.card .blog-layout{
  border-color: white;  
}

#blog-title{
    font-size: 20px;

  }