<%- include("./partials/header") %>


<div class="card mb-4">
    <div class="card-body">
        <div class="welcomeScreen">
            <h1>Welcome to Super Team Picker</h1>
            <img 
            src="https://www.thoughtfarmer.com/wp-content/blogs.dir/2/files/2014/01/pick-your-intranet-team.jpg"
            width="500px"
            />
        </div>
    </div>
</div>
<%- include("./partials/footer") %>